.headerContainer {
  text-align: center;
}

.bookContainer {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 400px;
  border-radius: 40px;
  border: 1px solid black;
}

.book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  width: 80%;
  border: 1px solid black;
}

input[type="text"] {
  margin: 20px;
  padding: 5px;
  width: 80%;
  &:focus {
    background-color: #e0e0e0;
  }
}

.book .canvasImage {
  border: 1px solid black;
  height: auto;
  margin: 0; padding: 0;
  width: 50px;
  height: 50px;
}

.addBookBtn {
  border-radius: 50%;
  background-color: rgb(22, 201, 22);
  width: 75px;
  height: 75px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 250%;
  text-align: center;
  line-height: 65px;
  color: white;
  &:hover {
    opacity: 60%;
    cursor: pointer;
  }
}

.canvasContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 1400px;
  border-radius: 40px;
  border: 1px solid black;
}
